.footer {
  grid-column: 1/-1;
  background: #81c9fa;
}
.contact {
  padding: 0 .75rem;
}
.contact-icon {
  width: 64px;
  padding-top: 1rem;
}
.contact-links ul {
  display: flex;
  padding: 1rem 0;
}
.contact-links img {
  width: 48px;
}
.copy {
  background: #2196f3;
}
.copy p {
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}