@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  font-family: "Rubik", sans-serif;
}
button {
  font-family: "Rubik", sans-serif;
}
h1,
h2,
h3,
h4 {
  font-weight: 500;
}
h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dl,
dd {
  margin: 0;
}
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
img[src$=".jpg"] {
  border-radius: 4px;
}
p,
dd {
  line-height: 1.5;
}
.container {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1300px) 1fr;
}
.button-top {
  background: #1465bb;
  position: fixed;
  right: 10px;
  bottom: 10px;
  border-radius: 50%;
  width: 40px;
  padding: .4rem;
  cursor: pointer;
}